.Register{
    width:100%;
    text-align: center;
}

h2{
    font-family: "Heiti TC";
    font-weight: 900;
    text-align: center;
    margin-bottom: 100px;
    margin-top:100px;
}

h3 {
    font-family: "Adobe Song Std";
    font-weight: 900;
    font-size: large;
    text-align: end;
    margin: auto;
}

.click-button {
    margin-top: 100px;
}